<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aktivasi Email Pendaftaran Rekrutmen dan Seleksi BPJS Ketenagakerjaan</title>
</head>
<body>
  <table style="width: 100%" border="0">
    <tbody>
      <tr>
        <td style="width: 50%" align="left" valign="middle">
          <!--<p><span style="color: #000000; font-size: x-large;"><strong><img src="https://rekrutmen.bpjsketenagakerjaan.go.id/assets/images/logo_bpjs.png" alt="" width="350" height="80" /></strong></span></p>-->
          <p>
            <span style="color: #000000; font-size: x-large"
              ><strong
                ><img
                  src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo-bpjamsostek-color.d93616d.jpg"
                  alt=""
                  width="350"
                  height="80" /></strong
            ></span>
          </p>
        </td>
        <!--<td style="width: 50%;" align="right" valign="middle"><img src="https://rekrutmen.bpjsketenagakerjaan.go.id/assets/images/logo_rekrutmen2.png" alt="" width="350" height="75" /><br /></td>-->
        <td style="width: 50%" align="right" valign="middle">
          <img
            src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo.6f682774.png"
            alt=""
            width="350"
            height="75"
          /><br />
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <p>&nbsp;</p>
  <p>
    <strong>Kepada Yth. TAG_NAMA_LENGKAP</strong>,<br /><br />Terimakasih atas
    partisipasi anda.<br /><br />Silahkan klik link di bawah ini untuk mengisi
    data
  </p>
  
</body>
</html>