<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table style="width: 100%" border="0">
      <tbody>
        <tr>
          <td style="width: 50%" align="left" valign="middle">
            <p>
              <span style="color: #000000; font-size: x-large"
                ><strong
                  ><img
                    src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo-bpjamsostek-color.d93616d.jpg"
                    alt=""
                    width="350"
                    height="80" /></strong
              ></span>
            </p>
          </td>
          <td style="width: 50%" align="right" valign="middle">
            <img
              src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo.6f682774.png"
              alt=""
              width="350"
              height="75"
            /><br />
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <p>
      <strong>Kepada Yth. TAG_NAMA_LENGKAP</strong>,<br /><br />Terimakasih atas
      partisipasi Anda dalam Program Rekrutmen dan Seleksi BPJS
      Ketenagakerjaan.<br /><br />Data Anda telah terekam dalam database kami
      dengan rincian sebagai berikut:
    </p>
    <p>&nbsp;</p>
    <table style="width: 350px" border="0">
      <tbody>
        <tr>
          <td style="width: 120px" align="left" valign="middle">
            <strong>No. KTP Anda</strong>
          </td>
          <td style="width: 20px" align="left" valign="middle">
            <strong>:</strong>
          </td>
          <td style="width: 220px"><strong>TAG_NIK_USER</strong></td>
        </tr>
        <tr>
          <td><strong>Nama Anda</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_NAMA_LENGKAP</strong></td>
        </tr>
        <!--<tr>
        <td><strong>Password Anda</strong></td>
        <td><strong>:</strong></td>
        <td><strong>TAG_PASSWORD</strong></td>
        </tr>-->
        <tr>
          <td><strong>E-mail Anda</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_EMAIL_USER</strong></td>
        </tr>
        <tr>
          <td><strong>Handphone</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_NOHP_USER</strong></td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
      Silahkan klik link di bawah ini untuk Login.<a
        title="Login e-Rekrutmen BPJS Ketenagakerjaan"
        href="https://rekrutmen.bpjsketenagakerjaan.go.id/login.bpjs"
        ><strong><span style="color: #0000ff">&nbsp;</span></strong></a
      >
    </p>
    <p>
      <a
        title="Login e-Rekrutmen BPJS Ketenagakerjaan"
        href="https://rekrutmen.bpjsketenagakerjaan.go.id/login.bpjs"
      ></a
      ><strong
        ><span style="color: #0000ff"
          ><a
            title="Login e-Rekrutmen BPJS Ketenagakerjaan"
            href="https://rekrutmen.bpjsketenagakerjaan.go.id/login.bpjs"
            >Login e-Rekrutmen BPJS Ketenagakerjaan</a
          ></span
        ><span style="color: #0000ff"><br /></span
      ></strong>
    </p>
    <p>&nbsp;</p>
    <p>atau copy dan paste link berikut ini ke browser Anda:</p>
    <p>
      <strong
        ><span style="color: #0000ff"
          >https://rekrutmen.bpjsketenagakerjaan.go.id/login.bpjs</span
        ></strong
      >
    </p>
    <p>&nbsp;</p>
    <p>
      Anda harus mengingat dan menyimpan, serta print email ini. Gunakan Alamat
      Email dan Password di atas pada saat login untuk keperluan seleksi
      selanjutnya. Dan setelah Anda login, Anda dapat melakukan tahap
      berikutnya, yaitu Tahap 3: <strong>Create CV.</strong> Dan tahap 4:
      <strong>Apply Posisi yang Tersedia</strong>. Anda bisa memilih lowongan
      yang tersedia pada halaman beranda, dan Anda bisa meng-apply lowongan
      tersebut sesuai dengan kemampuan yang Anda miliki.
    </p>
    <p>
      Terima kasih.<br /><br /><br /><strong
        >Penyelenggara Rekrutmen dan Seleksi </strong
      ><br /><strong>BPJS Ketenagakerjaan</strong>
    </p>
  </body>
</html>
