<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Pengumuman Jadwal Tes Online Rekrutmen dan Seleksi BPJS Ketenagakerjaan
    </title>
  </head>
  <body>
    <table style="width: 100%" border="0">
      <tbody>
        <tr>
          <td style="width: 50%" align="left" valign="middle">
            <p>
              <span style="color: #000000; font-size: x-large"
                ><strong
                  ><img
                    src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo-bpjamsostek-color.d93616d.jpg"
                    alt=""
                    width="350"
                    height="80" /></strong
              ></span>
            </p>
          </td>
          <td style="width: 50%" align="right" valign="middle">
            <img
              src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo.6f682774.png"
              alt=""
              width="350"
              height="75"
            /><br />
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <p><strong>Peserta Yth.,</strong><br /><br /></p>
    <p>&nbsp;</p>
    <table style="width: 350px" border="0">
      <tbody>
        <tr>
          <td style="width: 100px"><strong>Nama</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_NAMA_LENGKAP</strong></td>
        </tr>
        <tr>
          <td><strong>No Registrasi</strong><br /></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_NO_REGISTRASI</strong></td>
        </tr>
        <tr>
          <td><strong>Password</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_PASSWORD</strong></td>
        </tr>
        <tr>
          <td><strong>KTP</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_NIK</strong></td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
      Anda berhak mengikuti seleksi tahap berikutnya yaitu Tes Online yang akan
      diselenggarakan pada:
    </p>
    <table style="width: 350px" border="0">
      <tbody>
        <tr>
          <td style="width: 100px"><strong>Hari/ Tanggal</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_WAKTU</strong></td>
        </tr>
        <tr>
          <td><strong>Shift/Jam</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_SHIFT, TAG_JAM</strong></td>
        </tr>
        <tr>
          <td><strong>Link Tes Online</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_LINK</strong></td>
        </tr>
      </tbody>
    </table>
    <p><br /><br />Hal-hal yang perlu Anda perhatikan :</p>
    <table border="0" width="610" height="168">
      <tbody>
        <tr>
          <td style="width: 20px" align="left" valign="top">1.</td>
          <td>
            Anda diwajibkan memberitahukan penetapan jadwal shift kepada
            Pengawas Tes Online yang ditetapkan oleh Unit Kerja Anda.
          </td>
        </tr>
        <tr>
          <td style="width: 20px" align="left" valign="top">2.</td>
          <td>
            Pelaksanaan Tes Online wajib dilakukan di Unit Kerja (Kantor
            Pusat/Kantor Wilayah/Kantor Cabang) tempat Anda bekerja dengan
            pengawasan sebagaimana disebut dalam butir 1 (satu) di atas.
          </td>
        </tr>
        <tr>
          <td style="width: 20px" align="left" valign="top">3.</td>
          <td>
            Anda baru bisa mengakses Website Tes Online tersebut pada durasi
            waktu sesuai Shift/Jam yang ditetapkan.
          </td>
        </tr>
        <tr>
          <td style="width: 20px" align="left" valign="top">4.</td>
          <td>
            Anda diwajibkan mengirimkan (submit) semua jawaban sebelum durasi
            waktu Shift yang ditetapkan berakhir (Lihat Shift/durasi waktu di
            atas). Keterlambatan submit akan mengakibatkan Anda secara otomatis
            gugur dalam tahap ini.
          </td>
        </tr>
      </tbody>
    </table>
    <p><br /><br />Terima kasih<br />Jakarta, TAG_HARI_INI</p>
    <p>
      <br /><strong>Penyelenggara Rekrutmen</strong><br /><strong
        >SDM BPJS Ketenagakerjaan.</strong
      >
    </p>
  </body>
</html>
