<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Permintaan Lupa Password Aplikasi Rekrutmen Online BPJS Ketenagakerjaan
    </title>
  </head>
  <body>
    <table style="width: 100%" border="0">
      <tbody>
        <tr>
          <td style="width: 50%" align="left" valign="middle">
            <p>
              <span style="color: #000000; font-size: x-large"
                ><strong
                  ><img
                    src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo-bpjamsostek-color.d93616d.jpg"
                    alt=""
                    width="350"
                    height="80" /></strong
              ></span>
            </p>
          </td>
          <td style="width: 50%" align="right" valign="middle">
            <img
              src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo.6f682774.png"
              alt=""
              width="350"
              height="75"
            /><br />
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <p>
      <strong>Yth. TAG_NAMA_LENGKAP</strong>,<br /><br />Silahkan klik link di
      bawah ini untuk konfirmasi mengganti password akun aplikasi Rekrutmen
      Online Anda.<br /><br /><strong
        ><span style="color: #0000ff">TAG_LINK</span></strong
      ><br /><br />Mohon abaikan email ini apabila Anda tidak melakukan
      permintaan Lupa Password aplikasi Rekrutmen Online BPJS
      Ketenagakerjaan.<br /><br />Terimakasih.
    </p>
    <p>&nbsp;</p>
    <p>
      <br /><strong>Salam,</strong><br /><strong>BPJS Ketenagakerjaan</strong>
    </p>
  </body>
</html>
