<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Konfirmasi Program Rekrutmen dan Seleksi Calon Pegawai Kontrak Waktu Tertentu</title>
  </head>
  <body>
    <table style="width: 100%" border="0">
      <tbody>
        <tr>
          <td style="width: 50%" align="left" valign="middle">
            <p>
              <span style="color: #000000; font-size: x-large"
                ><strong
                  ><img
                    src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo-bpjamsostek-color.d93616d.jpg"
                    alt=""
                    width="350"
                    height="80" /></strong
              ></span>
            </p>
          </td>
          <td style="width: 50%" align="right" valign="middle">
            <img
              src="https://d3br8pewlizote.cloudfront.net/rekrutmen/logo.6f682774.png"
              alt=""
              width="350"
              height="75"
            /><br />
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <p><strong>Yth. TAG_NAMA_LENGKAP,</strong></p>
    <p>
      Terimakasih atas partisipasi Anda dalam Program Rekrutmen dan Seleksi BPJS
      Ketenagakerjaan.<br />Data Anda telah terekam dalam database kami dengan
      rincian sebagai berikut:
    </p>
    <table style="width: 350px" border="0">
      <tbody>
        <tr>
          <td style="width: 120px" align="left" valign="middle">
            <strong>Nama Anda</strong>
          </td>
          <td style="width: 10px" align="left" valign="middle">
            <strong>:</strong>
          </td>
          <td><strong>TAG_NAMA_LENGKAP</strong></td>
        </tr>
        <tr>
          <td><strong>No. Registrasi Anda</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_NO_REGISTRASI</strong></td>
        </tr>
        <tr>
          <td><strong>Job Title</strong></td>
          <td><strong>:</strong></td>
          <td><strong>TAG_JOB_TITLE</strong></td>
        </tr>
      </tbody>
    </table>
    <p>
      <br />Anda harus print email ini sebagai bukti pendaftaran. Gunakan email
      dan password Anda untuk keperluan seleksi selanjutnya. Dan setelah Anda
      login, Anda bisa memilih lowongan yang tersedia pada halaman beranda, dan
      Anda bisa meng-apply lowongan tersebut sesuai dengan kemampuan yang Anda
      miliki.
    </p>
    <p>
      Terimakasih.<br /><br /><br /><strong
        >Panitia Rekrutmen dan Seleksi BPJS Ketenagakerjaan</strong
      >
    </p>
  </body>
</html>
